---
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layouts/Layout.astro";
import projects from "../data/projects.json";
import ProjectCard from "../components/ProjectCard.astro";
import MinimalFooter from "../components/MinimalFooter.astro";
import BackHome from "../components/BackHome.astro";
---

<Layout title="Projects">
  <main class="-mt-3">
    <BackHome />
    <SectionHeader>Projects</SectionHeader>
    <p>
      These are projects i've built from scratch, contributed to aand learnt from.
      They're open source so you're free to tweak them as you like. Shoot me a DM if there's anything you want to talk about.
    </p>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-6">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </main>
  <MinimalFooter />
</Layout>
